.adminBody{
  background-color: #f0fffd;
}

#loginForm{
  margin-top: 30px;
  border: 1px solid black;
  background: #a8a8a8;
  color: black !important;
}
.adminLoginFormLabel{
  color: black !important;
}

.loginHeader{
  text-align: center;
  color: black;
}

select *{
  color: black !important;
}

select.ember-select{
  color: black !important;
}

a.dropdown-toggle{
  color: white;
  height: 48px;
  padding-top: 15px !important;
}

.adminlink *{
  height: 48px !important;
  padding-top: 15px !important;
  font-family: "Tulpen One", sans-serif;
  color: @header-font-color;
  font-size: @font-medium;
  text-decoration: none;
}


a.dropdown-toggle:hover{
  background-color: #404040;
}

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #a8a8a8;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  color: white;
  background-color: #808080;
  border-color: #428bca;
}

.adminMatchList{
  border-radius: 5px;
  background: @tile-color-2;
  margin-bottom: 5px;
  font-family: "Dosis", sans-serif;
}
.adminMatchList:hover{
  background: lighten(@tile-color-2,10%);
}
.adminMatchList.active{
  background: #a8a8a8;
  border: 1px dashed black;
  font-weight: bold;
}

ul.dropdown-menu{
  border-top: 0px;
  border-left: 0px;
  background-color: lighten(#494949,10%);
}
.adminSubmitForm{
  padding: 20px 10px;
  width: 300px;
  background:  lighten(#494949,10%);
}

.adminFormWrapper{
  margin-top: 4px;
  border-radius: 2px;
  padding-left: 15px !important;
  padding-right: 10px !important;
  background: lighten(#a8a8a8, 10%);
}

.adminWrapper *{
  color: black;
}

#adminWrapper{
  width: 100%;
}

.adminListItem{
  padding: 2px 4px;
  margin-right: 2px;
  display: inline;
  border-radius: 3px;
  background-color: lighten(#a8a8a8, 25%);
  border: 1px solid black;
}

.adminListEdit{
  display: inline;
  width: 325px;
}

.matchDetailHeader{
  font-size: @font-medium;
}

.summaryItem{
  height: 30px;
  padding: 3px 4px;
  margin-right: 2px;
  border-radius: 3px;
  background-color: lighten(@tile-color-2, 20%);
  border: 1px solid black;
  margin-bottom: 3px;
  text-align: left;
  font-family: 'dosis', sans-serif;
}

.adminSummaryHeader{
  font-size: 1.5em;
}

.adminBtn{
  font-family: "Glyphicons Halflings" !important;
  float: right;
  background-color: @tile-color-3;
  margin: 0 0 0 0 !important
}

.adminListRow{
  height: 32px;
}

.logged-in-name{
  display: inline-block;
  position: relative;
  font-family: 'dosis', sans-serif;
  width: 200px;
  left: 300px;
  top: 25px;
  height: 25px;
}

.matchWrapper{
  margin-top: 5px;
}

.admin-form-select-half{
  display: inline-block;
  vertical-align: top;
  width: 48%;
}

.admin-form-text-input{
  width: 97%;
}

.admin-form-text-input-half{
  display: inline-block;
  vertical-align: top;
  width: 48%;
}

.admin-fighter-select{
  height:24px;
  display: inline-block;
  border-radius: 3px;
  background-color: lighten(#a8a8a8, 25%);
  border: 1px solid black;
  padding-left: 2px;
  width: 40%;
}

.admin-video-select{
  height: 24px;
  display: inline-block;
  border-radius: 3px;
  background-color: lighten(#a8a8a8, 25%);
  border: 1px solid black;
  padding-left: 2px;
  width: 30%;
}

.admin-icon-btn{
  display: inline-block;
  margin: 0px;
  float: right;
}

.help-block{
  color: red;
  font-style: italic;
  text-align: center;
  background-color: lighten(#a8a8a8, 25%);
}