.input-text {
  .size(100%, 32px);
  color: @dark-text-color; 
  background-color: @gray-1;
  outline: 0;
  border: none;
  border-radius: 2px;
  padding: 0px 6px;
}

.submit-button {
  margin: 0px;
}

.form-group {
  position: relative;
  .input-text {
    padding-left: 32px;
  }
  .icon {
    .size(32px, 32px);
    display: block;
    z-index: 99;
    position: absolute;
    top: 7px;
    left: 8px;
    font-family: "Glyphicons Halflings";
    color: @dark-text-color;
  }
}

.stacked-form {
  input {
    margin-top: 4px;
    margin-bottom: 4px;
  }
  button {
    margin-top: 4px;
    margin-bottom: 4px;
  }
}

.inline-form {
  .inline-group {
    .make-row(0px);
    label {
      .make-xs-column(8, 0px);
    }
    input {
      .make-xs-column(16, 0px);
      .input-text();
    }
  } 
}

.form-container {
  .size(100%, 100%);
  padding: 8px;
  background: @subheader-color;
}
