<div class="col-md-2">
  {{> adminlist}}
</div>
<div class="col-md-4">
  {{> forms/createCharacter}}
</div>

<div class = "col-md-6">
 <ul style="list-style-type:none">
  {{#each characters}} 
  <div class = "col-md-3">
    <li>
    <img src = {{gameIcon game}}> </img> 
    {{name}} </li>
  </div>  
  {{/each}}
  </ul>
</div>
