<div class="col-md-2">
  {{> adminlist}}
</div>
<div class="col-md-4">
  {{> forms/createCharacter}}
</div>

<div class = "col-md-6">
 <ul style="list-style-type:none">
  {{#each characters}} 
  
  <form role = "form" method = "POST"> 
  <div class = "col-md-3">
    <li>
    <button formaction = "/admin/characters/{{id}}/delete"
          type = "submit"
          class = "btn btn-xs btn-default" 
          name = "id" value = {{id}}> X </button>
    
    <img src = {{gameIcon game}}> </img> 
    {{name}} </li>
  </div>  
  {{/each}}
  </ul>
  </form>
</div>
