<div class="col-md-2">
  {{> adminlist}}
</div>

<div class = "col-md-10">
  <h1> Characters </h1>
 <ul class = "datalist">
  {{#each games}} 
  <img class = "gameLogoSmall" src = {{gameIcon nickname}}>{{name}}
  <div class = "col-md-12">
    {{#each characters}}
    <div class = "col-md-3"> <li>  {{name}} </li> </div>
    {{/each}}
  </div>  
  {{/each}}
  </ul>

</div>
