<div class="col-md-2">
  {{> adminlist}}
</div>
<div class="col-md-4">
  {{> forms/createCharacter}}
</div>

<div class = "col-md-6">
 <ul>
  {{#each characters}} 
  <div class = "col-md-3">
    <li><b>{{game}}</b> {{name}} </li>
  </div>  
  {{/each}}
  </ul>
</div>
