<div class="col-md-2">
  {{> adminlist}}
</div>
<div class="col-md-4">
  {{> forms/createEvent}}
</div>
<div class ="col-md-6">
  <ul>
  {{#each events}} 
    <li>{{name}}</li>
  {{/each}}
  </ul>
</div>