<div class="col-md-2">
  {{> adminlist}}
</div>
<div class="col-md-10">
  {{> forms/createFighter}}
  <ul>
  {{#each fighters}} 
  <li>
    {{person.name}} 
    as 
    {{#each characters}}
      {{name}} 
    {{/each}}
  </li>
  {{/each}}
  </ul>
</div>
