<div class="col-md-2">
  {{> adminlist}}
</div>
<div class="col-md-4">
  {{> forms/createFighter}}
</div>
<div class = "col-md-6">
  <ul style="list-style-type:none">
  {{#each fighters}} 
    <div class = "col-md-4">
      <li>
        <img src = {{countryIcon person.country}}></img>
        <b>{{person.name}}</b>
        as 
        {{#each characters}}
          <img src = {{gameIcon game}}></img>
          <b>{{name}} </b>
        {{/each}}
      </li>
    </div>
  {{/each}}
  </ul>
</div>
