<div class="col-md-2">
  {{> adminlist}}
</div>
<div class="col-md-4">
  {{> forms/createTeam}}
</div>
<div class="col-md-6">  
  <ul>
  {{#each teams}} 
    <li>{{name}}</li>
  {{/each}}
  </ul>
</div>
