<div class="col-md-2">
  {{> adminlist}}
</div>

<div class = "col-md-10">
<form role = "form" method = "POST"> 
  <h1> Videos </h1>
  <ul class = "datalist">
    {{#each videos}} 
    <div class = "col-md-4">
      <li>
      <button formaction = "/admin/videos/{{id}}/delete"
        type = "submit"
        class = "btn btn-xs btn-default" 
        name = "id" value = {{id}}> X </button>
      <b>{{name}}</b>
      <br>
      id: <i>{{url}}</i>
      </li>
    </div>
    {{/each}}
  </ul>
  </form>
</div>