<div class="col-md-2">
  {{> adminlist}}
</div>
<div class="col-md-4">
  {{> forms/createVideo}}
</div>
<div class = "col-md-6">
  <ul>
    {{#each videos}} 
    <div class = "col-md-3">
      <li>{{name}} </li>
    </div>
    {{/each}}
  </ul>
</div>