<form id="contactForm">
  <div class="message">Share your email to learn about new content!</div>
  <div class="form-group">
    <div class="icon">&#x2709</div>
    <input class="input-text" id="emailInput" name="email" />
  </div>
</form>
