<div class="fight-card">
 <div class="fighter-list">

   {{#with fighterOne}}
     <div class="fighter first">
       <div class="fighter-name">
         {{person.name}}
       </div> 
       {{#each characters}}
       <div class="character-list">
         <span class="character-name">{{name}}</span>
       </div>
       {{/each}}
     </div> 
   {{/with}}
   
   <div class="vs-box">
     <div class="vs">VS</div>
   </div>

   {{#with fighterTwo}}
     <div class="fighter second">
       <div class="fighter-name">
         {{person.name}}
       </div> 
       {{#each characters}}
       <div class="character-list">
         <span class="character-name">{{name}}</span>
       </div>
       {{/each}}
     </div> 
   {{/with}}
   
 </div>
</div>
