<li class="tile long">
  <small class="tile-tag">
    {{game.nickname}}
  </small>

  <ul class="fighter-list">
    <li class="fighter">
      <span class="fighter-name">
        Steve
      </span> 
      <div class="character-list">
        <span class="character-name">Oni</span> 
        <span class="character-name">Sakura</span> 
      </div>
    </li> 
    <li class="fighter">
      <span class="fighter-name">
        Peter 
      </span> 
      <div class="character-list">
        <span class="character-name">Balrog</span> 
        <span class="character-name">Dudley</span> 
      </div>
    </li> 
  </ul>


  <div class="caster-list">
    Cast by:
    <span class="caster-name">Gootecks</span>
    <span class="caster-name">Mike Ross</span>
  </div>

  <div class="event">
    <span class="event-name">Fight Night</span>
  </div>

  <div class="title-name">
    Steve and Peter to the Def
  </div>
</li>
