<li class="tile">
  <small class="tile-tag">
    SF4 
  </small>

  <ul class="fighter-list">
    <li class="fighter">
      <span class="fighter-name">
        Pizzahat
      </span> 
      <div class="character-list">
        <span class="character-name">Oni</span> 
        <span class="character-name">Sakura</span> 
        <span class="character-name">Ibuki</span> 
      </div>
    </li> 

    <li class="fighter">
      <span class="fighter-name">
        Hunde
      </span> 
      <div class="character-list">
        <span class="character-name">Sagat</span> 
        <span class="character-name">Cody</span> 
      </div>
    </li> 
  </ul>

  <div class="caster-list">
    Cast by:
    <span class="caster-name">Mike Ross</span>
    <span class="caster-name">Gootecks</span>
  </div>

  <div class="event">
    <span class="event-name">Fight Night</span>
  </div>

  <div class="title-name">
    Pizzahat v Hunde Bo5
  </div>
</li>
