Filter by:   
<ul class="filter-links">
  <li class="filter-link">
  <a href="/{{gameSlug}}/matches/search?range=today">today</a> 
  </li>
  <li class="filter-link">
  <a href="/{{gameSlug}}/matches/search?range=this-week">this week</a> 
  </li>
  </li>
  <li class="filter-link">
  <a href="/{{gameSlug}}/matches/search?range=this-month">this month</a> 
  </li>
  </li>
  <li class="filter-link">
  <a href="/{{gameSlug}}/matches/search?range=this-year">this year</a> 
  </li>
  </li>
</ul>
