
<form action="/matches/historical/">
Previous: 
<button class = "btn btn-xs btn-info"
        name="search" 
        type="submit" 
        value="previous week">week</button>

<button class = "btn btn-xs btn-info"
  name="search" 
  type="submit" 
  value="previous month">month</button>

<button class = "btn btn-xs btn-info"
  name="search" 
  type="submit" 
  value="previous year">year</button>

</form>