Filter by:   
<ul class="filter-links">
  <li class="filter-link" data-filter="">
    <span value="">today</span> 
  </li>
  <li class="filter-link" data-filter="previous week">
    <span>this week</span> 
  </li>
  <li class="filter-link" data-filter="previous month">
    <span>this month</span> 
  </li>
  <li class="filter-link" data-filter="previous year">
    <span>this year</span> 
  </li>
</ul>
