<section class="searchBar">
  <form class="searchForm" action="/api/v1/matches/search">
    <span class="glyphicon glyphicon-search"></span>
    <input type="text" class="form-control searchBox" 
      name="title">
  </form>
</section>
