<!-- <form id="searchForm" action="/{{gameSlug}}/matches/search"> -->
<div class="component-wrapper">
  <form id="searchForm">
    <div class="form-group" id="searchInput">
      <div class="icon">&#57347</div>
      <input class="input-text" name="search" id="searchInputTextBox" placeholder = "Search for Matches..."/>
    </div> 
  </form>
  <ul class="inline-tabs">
    <li class="active">SSF4</li>
    <li>MVC3</li>
    <li>SSBM</li>
  </ul>
</div>
