<section class = "searchBar">
  <form  class = "searchForm" action = "/api/v1/matches/search">
      <input type="text" class="form-control searchBox" 
      placeholder="Search" name = "title">
       <button type="submit" class="btn-xs btn-default searchBtn" >
       Submit
       </button>
  </form>
</section>