<form id="searchForm">
  <div class="form-group" id="searchInput">
    <div class="icon">&#57347</div>
    <input class="input-text" name="search" id="searchInputTextBox" placeholder = "Search for Matches..."/>
  </div> 
</form>
