<form id="searchForm" action="/{{gameSlug}}/matches/search">
  <div class="form-group">
    <div class="icon">&#57347</div>
    <input class="input-text" id="searchInput" name="search" />
  </div> 
</form>
