<section class="searchBar">
  <form class="searchForm">
    <span class="glyphicon glyphicon-search"></span>
    <input type="text" class="form-control searchBox" 
      name="search">
  </form>
</section>
