<div class="row">
  <div class="col-sm-8">
    {{input type="text" disabled=inFlight value=newVideo.url}}
  </div>
  <div class="col-sm-4">
    <button class="btn btn-default" 
      {{bind-attr disabled=inFlight}}
      {{action "addVideo" newVideo}}>
      Add 
    </button>
  </div>
</div>
