<div class="row">
  <div class="col-sm-4">
    {{input type="text" value=newVideo.name}}
  </div>
  <div class="col-sm-4">
    {{input type="text" value=newVideo.url}}
  </div>
  <div class="col-sm-4">
    <button class="btn btn-default" {{action "addVideo" newVideo}}>
      Add 
    </button>
  </div>
</div>
