<div class="row">
  <div class="col-sm-4">
    {{input type="text" disabled=inFlight value=newFighter.name}}
  </div>
  <div class="col-sm-4">
    {{view Ember.Select 
      disabled=inFlight
      multiple="true"
      prompt="Select a character"
      content=characters
      selection=newFighter.characters
      optionValuePath="content.id"
      optionLabelPath="content.name"}} 
  </div>

  <div class="col-sm-4">
    <button class="btn btn-default" 
      {{bind-attr disabled=inFlight}}
      {{action "createFighter" newFighter}}>
      Add 
    </button>
  </div>
</div>
