<div class="row">
  <div class="col-sm-8">
    {{input type="text" value=newCaster.name}}
  </div>
  <div class="col-sm-4">
    <button class="btn btn-default" {{action "addCaster" newCaster}}>
      Add 
    </button>
  </div>
</div>
