<!DOCTYPE html>
<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" type="text/css" href="/dist/index.css">
</head>

<body>
  <nav class="container page-header">
    <div class="row">
      <a href="/" class="page-brand">fight casts</a> 
      {{> searchBar}}      
    </div>
  </nav>

  <div class="container page-subheader">
    <div class="row">
      <ul class="game-list">
        <div class="subheader-text">
          Choose a game: 
        </div>
        <li class="game active">
          <div class="icon"></div>
          <div class="name">
            Street Fighter IV
          </div>
        </li> 
        <li class="game">
          <div class="icon"></div>
          <div class="name">
            Marvel vs Capcom III
          </div>
        </li> 
        <li class="game">
          <div class="icon"></div>
          <div class="name">
            Smash Bros. Melee
          </div>
        </li> 
      </ul> 
    </div>
  </div>

  <div class="container" id="main-content">
    {{{body}}}
  </div>
</body>
