<!DOCTYPE html>
<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" type="text/css" href="/dist/index.css">
  <link rel="stylesheet" type="text/css" href="/vendor/stylesheets/introjs.css">
  <link href='http://fonts.googleapis.com/css?family=Tulpen+One|Exo:400,900italic|Dosis' rel='stylesheet' type='text/css'>
  <link rel="icon" type="image/png" href="/images/vs.png">
</head>

<body>
  <div id="header">
    <div class="container">
      <div class="page-header">
        <a href="/" class="page-brand">fight casts</a> 
        <div class="search-bar" id="searchBar">
          {{> searchBar}}      
        </div>
      </div>
    </div>
  </div>

  <div id="subheader">
    <div class="container">
      <div class="page-subheader">
        <div class="tab-wrapper" id="gameSelect">
          <div class="tab sf4 active">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="main-content">
    <div class="container">
      {{{body}}}
    </div>
  </div>

  <script src="/vendor/javascripts/intro.js"></script>
  <script src="/javascripts/intro.js"></script>
</body>
