<!DOCTYPE html>
<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" type="text/css" href="/dist/index.css">
</head>

<body>
  <div class="container">
    <div class="page-header">
      <a href="/" class="page-brand">fight casts</a> 
      <div class="search-bar">
        {{> searchBar}}      
      </div>
    </div>
  </div>

  <div class="page-subheader">
    <div class="container">
      <div class="row">
        <ul class="game-list">
          <li class="game active">
            <div class="icon"></div>
            <div class="name">
              Street Fighter IV
            </div>
          </li> 
        </ul> 
      </div>
    </div>
  </div>

  <div id="main-content">
    <div class="container">
      {{{body}}}
    </div>
  </div>
</body>
