<!DOCTYPE html>
<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" type="text/css" href="/dist/index.css">
  <link rel="stylesheet" type="text/css" href="/vendor/stylesheets/introjs.css">
  <link href='http://fonts.googleapis.com/css?family=Tulpen+One|Dosis' rel='stylesheet' type='text/css'>
  <link rel="icon" type="image/png" href="/images/vs.png">
  <!-- Segment.io/analytics -->
  <script type="text/javascript">
    window.analytics=window.analytics||[],window.analytics.methods=["identify","group","track","page","pageview","alias","ready","on","once","off","trackLink","trackForm","trackClick","trackSubmit"],window.analytics.factory=function(t){return function(){var a=Array.prototype.slice.call(arguments);return a.unshift(t),window.analytics.push(a),window.analytics}};for(var i=0;i<window.analytics.methods.length;i++){var key=window.analytics.methods[i];window.analytics[key]=window.analytics.factory(key)}window.analytics.load=function(t){if(!document.getElementById("analytics-js")){var a=document.createElement("script");a.type="text/javascript",a.id="analytics-js",a.async=!0,a.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.io/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n)}},window.analytics.SNIPPET_VERSION="2.0.9",
    window.analytics.load("m4dhavb3xy");
    window.analytics.page();
  </script>
  <title>
    FightCasts.tv: Fighting Game Videos, Matches, Casts. Search for Hype VODs
  </title>
</head>

<body>
  <div class="search-bar" id="searchBar">
    {{> searchBar}}      
  </div>    
  <div id="site-links">
    <ul class="links">
      {{#if user}}
      <li>
        <a href="/account" class="link-text">ACCOUNT</a>
      </li>
      <li>
        <span class="link-text" id="logout">LOGOUT</span>
      </li>
      {{else}}
      <li>
        <a href="/signup" class="link-text">SIGNUP</a>
      </li>
      <li>
        <a href="/login" class="link-text">LOGIN</a>
      </li>
      <li>
        <a href="/forgot-password" class="link-text">FORGOT PASSWORD</a>
      </li>
      {{/if}}
    </ul>
  </div>

  <div id="header-column">
    <div class="centered">
      <h1>
        <a href="/" class="logo-text dark">
          fight casts
        </a>
      </h1>
    </div>

  {{{body}}}

  <!--
  <footer id="footer">
    <div class="container">
      <div class="site-footer">
      
      </div> 
    </div> 
  </footer>
  -->

  <script src="/vendor/javascripts/intro.js"></script>
  <script src="/vendor/javascripts/jquery.js"></script>
  <script src="/vendor/javascripts/jquery.fitvids.js"></script>
  <script src="/javascripts/ui.js"></script>
  <script src="/javascripts/forms.js"></script>
  <script src="/javascripts/video.js"></script>
  <script src="/javascripts/tour.js"></script>
</body>
