<div class="container">
  <div class="tile-region-8 tile-offset-8">
    <div class="tile-8x4">
      <a href="/" class="logo-text inverse">fight casts</a>
      <div class="form-container">
        <form class="stacked-form" id="changePasswordForm">
          <input type="text" 
            class="input-text"
            value="{{user.email}}"
            name="email"
            placeholder="email"/>
          <input type="password" 
            class="input-text"
            name="password"
            placeholder="old password"/>
          <input type="password" 
            class="input-text"
            name="newPassword"
            placeholder="new password"/>
          <button class="btn btn-danger submit-button" type="submit">
            Change password
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
