<div class="container">
  <div class="tile-region-8 tile-offset-8">
    <div class="tile-8x4">
      <h3 class="form-header">Forgot your password?</h3>
      <div class="form-container">
        <form class="stacked-form" id="forgotPasswordForm">
          <input type="text" 
            class="input-text"
            value="{{user.email}}"
            name="email"
            placeholder="email"/>
          <button class="btn btn-danger submit-button" type="submit">
            Email me a new password
          </button>
          {{> backButton}}
        </form>
      </div>
    </div>
  </div>
</div>
