<div class="col-xs-6">
  <div class="tile-6x2">
    <div class="tile-test"></div> 
  </div>
  {{#each matches.pro}}
    <div class="tile-6x1">
    {{> tiles/match-tile-listitem}}
    </div>
    <div class="tile-6x1">
    {{> tiles/match-tile-listitem}}
    </div>
    <div class="tile-6x1">
    {{> tiles/match-tile-listitem}}
    </div>
  {{/each}}
</div>

<div class="col-xs-12">
  <div class="tile-12x8">
    <div class="tile-test"></div> 
  </div>
  <div class="tile-12x4">
    <div class="tile-test"></div> 
  </div>
</div>

<div class="col-xs-6">
  <div class="tile-6x2">
    <div class="tile-test"></div> 
  </div>
  {{#each matches.community}}
    <div class="tile-6x1">
    {{> tiles/match-tile-listitem}}
    </div>
    <div class="tile-6x1">
    {{> tiles/match-tile-listitem}}
    </div>
    <div class="tile-6x1">
    {{> tiles/match-tile-listitem}}
    </div>
  {{/each}}
</div>
