<div class="tile-region-7">

  {{#if featuredPro}}
  {{#with featuredPro}}
  <div class="tile-6x1">
    <h3 class="subheader">top pro matches</h3> 
  </div>
  <div class="tile-1x1"></div>
  <div class="tile-6x4">
    {{> tiles/match-tile-featured}}
  </div>
  {{/with}}
  <div class="tile-1x1"></div>
  {{/if}}

  <div class="tile-6x1">
    <h3 class="subheader">new pro matches</h3> 
  </div>
  <div class="tile-1x1"></div>
    {{#if proMatches}}
      {{#each proMatches}}
        <div class="tile-6x2">
          {{> tiles/match-tile-listitemtall}}
        </div>
        <div class="tile-1x2">
        </div>
      {{/each}}
    {{/if}}
</div>

<div class="col-xs-10">
  {{#if focusedMatch}}
    {{#with focusedMatch}}
    <div class="tile-10x1">
      <h3 class="subheader">
        match details /
        <span class="subheader-secondary">{{title}}</span>
      </h3> 
    </div>
    {{> tiles/match-tile-main}}
    {{/with}}
  {{else}}
  {{#with featuredPro}}
    <div class="tile-10x1">
      <h3 class="subheader">
        match details /
        <span class="subheader-secondary">{{title}}</span>
      </h3> 
    </div>
    {{> tiles/match-tile-main}}
    {{/with}}
  {{/if}}
</div>

<div class="tile-region-7">

  {{#if featuredCommunity}}
  <div class="tile-1x1"></div>
  <div class="tile-6x1">
    <h3 class="subheader">top community matches</h3> 
  </div>
  <div class="tile-1x1"></div>
  {{#with featuredCommunity}}
  <div class="tile-6x4">
    {{> tiles/match-tile-featured}}
  </div>
  {{/with}}
  <div class="tile-1x1"></div>
  {{/if}}

  <div class="tile-6x1">
    <h3 class="subheader">new community matches</h3> 
  </div>
    {{#if communityMatches}}
      {{#each communityMatches}}
        <div class="tile-1x2">
        </div>
        <div class="tile-6x2">
          {{> tiles/match-tile-listitemtall}}
        </div>
      {{/each}}
    {{/if}}
</div>
