<div class="col-lg-6 col-md-6 col-sm-6 col-sx-6">
  <div class="tile-group">
    <h3 class="title">
      today's matches
    </h3>
    <ul class="tiles">
      {{#each matches}}
        {{> match-tile}}
      {{/each}}
    </ul>
  </div>
</div>

<div class="col-lg-6 col-md-6 col-sm-6 col-sx-6">
  <div class="tile-group">
    <h3 class="title">
      today's matches
    </h3>
    <ul class="tiles">
      {{#each matches}}
        {{> match-tile-long}}
      {{/each}}
    </ul>
  </div>
</div>
