<div class="col-lg-6 col-md-6 col-sm-6 col-sx-6">
  <div class="tile-group">
    <h3 class="title">
      latest pro matches
    </h3>
    <ul class="tiles">
      {{#each matches.pro}}
        {{> tiles/match-tile-long}}
      {{/each}}
    </ul>
  </div>
</div>

<div class="col-lg-6 col-md-6 col-sm-6 col-sx-6">
  <div class="tile-group">
    <h3 class="title">
      featured matches
    </h3>
    <ul class="tiles">
      {{#with featuredMatches.pro}}
        {{> tiles/match-tile-featured}}
      {{/with}}
      {{#with featuredMatches.community}}
        {{> tiles/match-tile-featured}}
      {{/with}}
      {{#with featuredMatches.scrub}}
        {{> tiles/match-tile-featured}}
      {{/with}}
    </ul>
  </div>
  <div class="tile-group">
    <h3 class="title">
      community matches
    </h3>
    <ul class="tiles">
      {{#each communityMatches}}
        {{> tiles/match-tile-long}}
      {{/each}}
    </ul>
  </div>
</div>
