<div class="col-xs-12">
  {{#each matches.pro}}
    <div class="tile-12x1">
    {{> tiles/match-tile-listitem}}
    </div>
  {{/each}}

  {{#each matches.community}}
    <div class="tile-12x1">
    {{> tiles/match-tile-listitem}}
    </div>
  {{/each}}
</div>

<div class="col-xs-8">
  <div class="tile-4x8">
  {{#with featuredMatches.pro}}
    {{> tiles/match-tile-featured}}
  {{/with}}
  </div>

  <div class="tile-4x8">
  {{#with featuredMatches.topRated}}
    {{> tiles/match-tile-featured}}
  {{/with}}
  </div>

  <div class="tile-4x8">
  {{#with featuredMatches.community}}
    {{> tiles/match-tile-featured}}
  {{/with}}
  </div>

  <div class="tile-4x8">
  {{#with featuredMatches.scrub}}
    {{> tiles/match-tile-featured}}
  {{/with}}
  </div>
</div>

<div class="col-xs-4"></div>
