<div class="tile-region-7">

  {{#if featuredMatches.pro}}
  {{#with featuredMatches.pro}}
  <div class="tile-6x1">
    <h3 class="subheader">top pro matches</h3> 
  </div>
  <div class="tile-1x1"></div>
  <div class="tile-6x4">
    {{> tiles/match-tile-featured}}
  </div>
  {{/with}}
  <div class="tile-1x1"></div>
  {{/if}}

  <div class="tile-6x1">
    <h3 class="subheader">new pro matches</h3> 
  </div>
  <div class="tile-1x1"></div>
  {{#each matches.pro}}
    <div class="tile-6x2">
      {{> tiles/match-tile-listitemtall}}
    </div>
    <div class="tile-1x2">
    </div>
  {{/each}}
</div>

<div class="col-xs-10">
  {{#if focusedMatch}}
    {{#with focusedMatch}}
    <div class="tile-10x1">
      <h3 class="subheader">
        match details /
        <span class="subheader-secondary">{{title}}</span>
      </h3> 
    </div>
    {{> tiles/match-tile-main}}
    {{/with}}
  {{else}}
  {{#with featuredMatches.pro}}
    <div class="tile-10x1">
      <h3 class="subheader">
        match details /
        <span class="subheader-secondary">{{title}}</span>
      </h3> 
    </div>
    {{> tiles/match-tile-main}}
    {{/with}}
  {{/if}}
</div>

<div class="tile-region-7">

  {{#if featuredMatches.community}}
  <div class="tile-1x1"></div>
  <div class="tile-6x1">
    <h3 class="subheader">top community matches</h3> 
  </div>
  <div class="tile-1x1"></div>
  {{#with featuredMatches.community}}
  <div class="tile-6x4">
    {{> tiles/match-tile-featured}}
  </div>
  {{/with}}
  <div class="tile-1x1"></div>
  {{/if}}

  <div class="tile-6x1">
    <h3 class="subheader">new community matches</h3> 
  </div>
  {{#each matches.community}}
    <div class="tile-1x2">
    </div>
    <div class="tile-6x2">
      {{> tiles/match-tile-listitemtall}}
    </div>
  {{/each}}
</div>
