<div id="page-header">
  <div class="container">
    <div class="page-header">
      {{#if title}}
      <h1>
        {{title}}
        <span class="secondary-title">
          {{secondaryTitle}}
        </span>
      </h1>
      <p>{{description}}</p>
      {{/if}}
    </div>
  </div>
</div>

<div class="container">
  <div class="tile-region-12">
    {{#each proMatches}}
      <div class="tile-6x2">
        {{> tiles/match-tile-listitemtall}}
      </div>
    {{/each}}
    </div>
  </div>

  <div class="tile-region-12">
    {{#each communityMatches}}
      <div class="tile-6x2">
        {{> tiles/match-tile-listitemtall}}
      </div>
    {{/each}}
  </div>
</div>
