<div class="col-xs-6">
  {{#with featuredMatches.pro}}
  <div class="tile-6x1">
    <h3 class="tile-subheader">top pro matches</h3> 
  </div>
  <div class="tile-6x2">
    {{> tiles/match-tile-featured}}
  </div>
  {{/with}}
  <div class="tile-6x1">
    <h3 class="tile-subheader">newest pro matches</h3> 
  </div>
  {{#each matches.pro}}
    <div class="tile-6x1">
    {{> tiles/match-tile-listitem}}
    </div>
    <div class="tile-6x1">
    {{> tiles/match-tile-listitem}}
    </div>
    <div class="tile-6x1">
    {{> tiles/match-tile-listitem}}
    </div>
  {{/each}}
</div>

<div class="col-xs-12">
  <div class="tile-6x1">
    <h3 class="tile-subheader">match details</h3> 
  </div>
  {{#with featuredMatches.pro}}
  <div class="tile-12x6">
    {{> tiles/match-tile-main}}
  </div>
  {{/with}}
</div>

<div class="col-xs-6">
  <div class="tile-6x1">
    <h3 class="tile-subheader">top community matches</h3> 
  </div>
  {{#with featuredMatches.community}}
  <div class="tile-6x2">
    {{> tiles/match-tile-featured}}
  </div>
  {{/with}}
  <div class="tile-6x1">
    <h3 class="tile-subheader">newest community matches</h3> 
  </div>
  {{#each matches.community}}
    <div class="tile-6x1">
    {{> tiles/match-tile-listitem}}
    </div>
    <div class="tile-6x1">
    {{> tiles/match-tile-listitem}}
    </div>
    <div class="tile-6x1">
    {{> tiles/match-tile-listitem}}
    </div>
  {{/each}}
</div>
