<div class="col-xs-6">
  {{#with featuredMatches.pro}}
  <div class="tile-6x1">
    <h3 class="subheader">top pro matches</h3> 
  </div>
  <div class="tile-6x4">
    {{> tiles/match-tile-featured}}
  </div>
  {{/with}}
  <div class="tile-6x1">
    <h3 class="subheader">new pro matches</h3> 
  </div>
  {{#each matches.pro}}
    <div class="tile-6x1">
    {{> tiles/match-tile-listitem}}
    </div>
    <div class="tile-6x1">
    {{> tiles/match-tile-listitem}}
    </div>
    <div class="tile-6x1">
    {{> tiles/match-tile-listitem}}
    </div>
  {{/each}}
</div>

<div class="col-xs-12">
  {{#with featuredMatches.pro}}
  <div class="tile-10x1 tile-offset-1">
    <h3 class="subheader">
      match details /
      <span class="subheader-secondary">{{title}}</span>
    </h3> 
  </div>
  {{> tiles/match-tile-main}}
  {{/with}}
</div>

<div class="col-xs-6">
  <div class="tile-6x1">
    <h3 class="subheader">top community matches</h3> 
  </div>
  {{#with featuredMatches.community}}
  <div class="tile-6x4">
    {{> tiles/match-tile-featured}}
  </div>
  {{/with}}
  <div class="tile-6x1">
    <h3 class="subheader">new community matches</h3> 
  </div>
  {{#each matches.community}}
    <div class="tile-6x1">
    {{> tiles/match-tile-listitem}}
    </div>
    <div class="tile-6x1">
    {{> tiles/match-tile-listitem}}
    </div>
    <div class="tile-6x1">
    {{> tiles/match-tile-listitem}}
    </div>
  {{/each}}
</div>
