<form role="form" class="form-horizontal" 
    method = "POST" id="loginForm">
  <div class="form-group">
    <h3 class = "loginHeader"> Please Login </h3>
    <div class = "row">
    <label for="username"
      class="col-sm-2 control-label adminLoginFormLabel">User</label>
    <div class="col-sm-3">
      <input class="form-control" 
            type="text" 
            name="username" 
            id="username">
      </input>
    </div>
    </div>
    <div class = "row">
      <label for="password" 
              class="col-sm-2 control-label adminLoginFormLabel">Password</label>
      <div class="col-sm-3">
        <input class="form-control" 
              type="password" 
              name="password" 
              id="password">
        </input>
      </div>
      <button type="submit" class="btn btn-primary">
       Login
      </button>
    </div>
  </div>
</form>