<div id="page-header">
  <div class="container">
    {{#with focusedMatch}}
    <div class="page-header">
      <h1>{{title}}</h1>
      <span>{{description}}</span>
      <span class="date">({{prettyDate playedAt}})</span>
    </div>
    {{/with}}
  </div>
</div>

<div id="focused-content">
  <div class="container">
    <div id="focusedContent">

      {{#with focusedMatch}}
      <div class="tile-24x12">
        {{> tiles/match-tile-main}}
      </div>
      {{/with}}

    </div>
  </div>
</div>
