<div id="page-header">
  <div class="container">
    {{#with focusedMatch}}
    <div class="page-header">
      <h1>{{title}}</h1>
      <span>{{description}}</span>
      <span class="date">({{prettyDate playedAt}})</span>
    </div>
    {{/with}}
  </div>
</div>

<div id="focused-content">
  <div class="video-player">

    {{#with focusedMatch}}
      <iframe class="embedded-video"
        autohide=1
        iv_load_policy=3
        modestbranding=1
        allowfullscreen=1
        src={{ytUrl videos}}&color=white&showinfo=0&rel=0
        frameborder=0
        rel=0>
      </iframe>
    {{/with}}

  </div>
</div>
