<div class="col-xs-8">
  <div class="tile-8x1">
    <h3 class="tile-subheader">results for : {{query}}
    </h3> 
  </div>
  {{#each matches}}
    <div class="tile-12x1">
    {{> tiles/match-tile-listitem}}
    </div>
  {{/each}}
</div>