<div class="col-xs-8">
  <div class="tile-8x1">
    <section class="tile-subheader">
      <a href = "/"> home </a><br>
      results for : {{query}}
    </section>
    
  </div>
  {{#each matches}}
    <div class="tile-12x1">
    {{> tiles/match-tile-listitem}}
    </div>
  {{/each}}
</div>