<div class="container">
  <div class="tile-region-8 tile-offset-8">
    <div class="tile-8x4">
      <h3 class="form-header">Join us</h3>
      <div class="form-container">
        <form class="stacked-form" id="signupForm">
          <input type="text" 
            class="input-text"
            value="{{user.email}}"
            name="email"
            placeholder="email"/>
          <input type="password" 
            class="input-text"
            name="password"
            placeholder="old password"/>
          <input type="password" 
            class="input-text"
            name="newPassword"
            placeholder="new password"/>
          <button class="btn btn-danger submit-button" type="submit">
            Signup
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
