<div class="test-tile-row">
  <div class="col-xs-6">
    <div class="tile-1x1"><div class="tile-test"></div></div>
    <div class="tile-1x1"><div class="tile-test"></div></div>
    <div class="tile-1x1"><div class="tile-test"></div></div>
    <div class="tile-1x1"><div class="tile-test"></div></div>
    <div class="tile-1x1"><div class="tile-test"></div></div>
    <div class="tile-1x1"><div class="tile-test"></div></div>
    <div class="tile-1x1"><div class="tile-test"></div></div>
    <div class="tile-1x1"><div class="tile-test"></div></div>
    <div class="tile-1x1"><div class="tile-test"></div></div>
  </div>
  <div class="col-xs-6">
    <div class="tile-1x1"><div class="tile-test"></div></div>
    <div class="tile-1x1"><div class="tile-test"></div></div>
    <div class="tile-1x1"><div class="tile-test"></div></div>
    <div class="tile-1x1"><div class="tile-test"></div></div>
    <div class="tile-1x1"><div class="tile-test"></div></div>
    <div class="tile-1x1"><div class="tile-test"></div></div>
    <div class="tile-1x1"><div class="tile-test"></div></div>
    <div class="tile-1x1"><div class="tile-test"></div></div>
    <div class="tile-1x1"><div class="tile-test"></div></div>
  </div>
</div>
<div class="test-tile-row">
  <div class="tile-1x1"><div class="tile-test"></div></div>
  <div class="tile-1x1"><div class="tile-test"></div></div>
  <div class="tile-1x1"><div class="tile-test"></div></div>
  <div class="tile-1x1"><div class="tile-test"></div></div>
  <div class="tile-1x1"><div class="tile-test"></div></div>
  <div class="tile-1x1"><div class="tile-test"></div></div>
  <div class="tile-1x1"><div class="tile-test"></div></div>
  <div class="tile-1x1"><div class="tile-test"></div></div>
  <div class="tile-1x1"><div class="tile-test"></div></div>
  <div class="tile-1x1"><div class="tile-test"></div></div>
  <div class="tile-1x1"><div class="tile-test"></div></div>
  <div class="tile-1x1"><div class="tile-test"></div></div>
  <div class="tile-1x1"><div class="tile-test"></div></div>
  <div class="tile-1x1"><div class="tile-test"></div></div>
  <div class="tile-1x1"><div class="tile-test"></div></div>
</div>
