@import "variables.less";
@import "mixins.less";
@import "grid.less";
@import "utilities.less";
@import "dropdowns.less";
@import "buttons.less";
@icon-font-path: "/vendor/fonts/";
@icon-font-name: "glyphicons-halflings-regular";
@import "glyphicons.less";

//needed for admin
@import "forms.less";
@import "navbar.less";
@import "navs.less";
@import "list-group.less";


@import "custom/variables.less";
@import "custom/mixins.less";
@import "custom/forms.less";
@import "grid/grid.less";
@import "tiles.less";
@import "custom/fightcards.less";
@import "custom/admin.less";

*, *:before, *:after {
  .box-sizing(border-box);
  color: @text-color;
  font-weight: 100;
}

.custom-container {
  margin-left: auto;
  margin-right: auto;
  padding-left:  (@grid-gutter-width / 2);
  padding-right: (@grid-gutter-width / 2);

  @media (min-width: @screen-sm-min) {
    width: @container-sm;
  }
  @media (min-width: @screen-md-min) {
    width: @container-md;
  }
  @media (min-width: @screen-lg-min) {
    width: @container-lg;
  }
}

.content-text {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: @font-smallish;
}

.content-secondary-text {
  font-family: "Dosis", sans-serif;
  color: @secondary-text-color;
}

.link-text {
  font-size: @font-small;
  font-family: @link-font;
  cursor: pointer;
  border-bottom: 1px solid @text-color;
}

.inset-text (@bg-color, @text-color) {
  /* Shadows are visible under slightly transparent text color */
  color: hsla(hue(@text-color), saturation(@text-color), lightness(@text-color), .8);
  text-shadow: 1px 1px 1px @bg-color, 0 0 0 #000, 1px 1px 1px @bg-color;
}

body, html {
  height: 100%;
  min-height: 100%;
}

body {
  .content-text();
  margin: 0px; background-color: @background-color;
}

#header {
  background-color: @header-color;
  .custom-container {
    height: @header-height;
  }
}

#page-header {
  .custom-container {
    height: @page-header-height;
  }
}

#secondary-content {
  position: relative;
  background-color: @background-color;
  min-height: 80%;
}

#focused-content {
  background-color: @focused-bg-color;
}

#footer {
  margin-top: 128px;
  background-color: @header-color;
}

ul {
  list-style-type: none;
  padding-left: 0px;
}

a {
  text-decoration: none;
}

//THESE ARE RELATED TO INTROJS
.tool-tip {
  div {
    .content-text();
    color: @dark-text-color;
  }
}

//THIS IS A HACK TO GET AROUND AN ERROR IN INTROJS
.introjs-helperNumberLayer {
  display: none;
}

.site-header {
  text-align: center;
  padding: 12px 12px;
  
  .site-brand {
    float: left;
    margin-right: 12px;
    font-family: @fancy-font;
    color: @header-font-color;
    font-size: @font-mediumish;
    text-decoration: none;
  }

  .search-bar {
    float: left;
    display: inline-block;
    min-width: 300px;
    margin-top: 4px;
    &:after {
      clear: both;
    }
    form {
      input {
        width: 100%;
      }
    }
  }

  .links {
    float: right;
    text-align: center;
    margin-top: 6px;
    li {
      margin-left: 12px;
      display: inline;
    }
  }
}

.site-footer {
  .make-row(0px);
  height: @footer-height;
  padding-top: 12px;
}

.section-header {
  font-family: "Tulpen One", sans-serif;
  color: @section-header-color;
  font-size: @font-medium;
  margin: 0px;
  padding: 4px 0px 0px 0px;
  .subheader-secondary {
    color: @text-color;
  }
}

.page-header {
  clear: both;
  height: @page-header-height;
  line-height: @page-header-height;
  padding: 0px 12px;
  h1 {
    display: inline;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: @font-smallish;
    font-family: @header-font;
    color: @dark-text-color;
    font-weight: 100;
    .secondary-title {
      color: @colored-text-color;
    }
  }
  span {
    vertical-align: center;
    font-size: @font-small;
    color: @colored-text-color;
  }
  span.date {
    color: @secondary-text-color; 
  }
}

img.gameLogoSmall{
  .size(32px, 32px);
}
