@import "variables.less";
@import "mixins.less";
@import "grid.less";
@import "utilities.less";
@import "dropdowns.less";
@import "buttons.less";
@icon-font-path: "/vendor/fonts/";
@icon-font-name: "glyphicons-halflings-regular";
@import "glyphicons.less";

//needed for admin
@import "forms.less";
@import "navbar.less";
@import "navs.less";
@import "list-group.less";


@import "custom/variables.less";
@import "custom/mixins.less";
@import "custom/forms.less";
@import "grid/grid.less";
@import "tiles.less";
@import "custom/fightcards.less";
@import "custom/admin.less";

*, *:before, *:after {
  .box-sizing(border-box);
  color: @text-color;
  font-weight: 100;
}

.header-text {
  font-family: "Tulpen One", sans-serif;
  color: @header-font-color;
  font-size: @font-largish;
  text-decoration: none;
}

.content-text {
  font-family: "Exo", sans-serif;
  font-size: @font-smallish;
}

.content-secondary-text {
  font-family: "Dosis", sans-serif;
  color: @secondary-text-color;
}

.link-text {
  border-bottom: 1px dashed @text-color;
  cursor: pointer;
  &:hover {
    border-top: 1px dashed @text-color;
  }
}

.section-header {
  font-family: "Tulpen One", sans-serif;
  color: @subheader-font-color;
  font-size: @font-medium;
}

body {
  .content-text();
  margin: 0px;
  background-color: @background-color;
}

#header {
  background-color: @header-color;
}

#subheader {
  background-color: @subheader-color;
}

#main-content {
  position: relative;
  background-color: @background-color;
}

ul {
  list-style-type: none;
  padding-left: 0px;
}

a {
  text-decoration: none;
}

//THESE ARE RELATED TO INTROJS
.tool-tip {
  div {
    .content-text();
    color: @dark-text-color;
  }
}

//THIS IS A HACK TO GET AROUND AN ERROR IN INTROJS
.introjs-helperNumberLayer {
  display: none;
}

.tab {
  .size(100%, 100%);
  text-align: center;
  font-size: @font-small;
  vertical-align: bottom;
  cursor: pointer;
}

.tab.active {
  background-color: @tab-active-color;
  cursor: auto;
}

.sf4 {
  .center-bg("/images/SSFIVAE-gray.png");
}

.mvc3 {
  .center-bg("/images/UMVC3-gray.png");
}

.active.sf4 {
  .center-bg("/images/SSFIVAE-gray.png");
}

.active.mvc3 {
  .center-bg("/images/UMVC3.png");
}

.page-header {
  .make-row(0px);
  height: @header-height;
  padding-top: 12px;
  .page-brand {
    .tile-region-4();
    .header-text();
  }
  .search-bar {
    .tile-region-3();
    top: 24px;
  }
  .filters {
    .tile-region-6();
    top: 20px;
    padding-left: 12px;
    font-size: @font-small;
    .filter-links {
      display: inline-block;
      padding-left: 12px;
      .filter-link {
        display: inline-block;
        padding-left: 12px;
        span {
          .link-text();
        }
      }
    }
  }
  .header-links {
    .tile-region-6();
    .tile-column-push(5);
    top: 12px;
    li {
      text-align: right;
      span {
        .link-text();
      }
    }
  }
}

.page-subheader {
  .make-row();
  .tab-wrapper {
    .tile-2x1();
    padding: 0px 2px;
  }
  .contact-bar {
    .tile-region-12();
    .tile-offset-mixin(10);
    top: 8px;
  }
}

.subheader {
  .section-header();
  font-size: @font-mediumish;
  margin: 0px;
  padding: 0px;
  .subheader-secondary {
    color: @secondary-text-color;
  }
}

.tile-subheader{
  .header-text();
}


img.gameLogoSmall{
  .size(32px, 32px);
}
