.tile-mixin {
  .hover-border(lighten(@tile-color-5, 15%));
  position: relative;
  padding: 4px;
  height: 100%;
  width: 100%;
  background-color: lighten(@tile-color-5, 15%);
}

.tile-region-mixin (@x: 1) {
  .make-xs-column(@x, 0px);
  width: (@x*32px);
  @media (min-width: @screen-lg-min) {
    width: (@x*48px);
  }
}

.tile-grid-mixin (@x: 1, @y: 1) {
  .make-xs-column(@x, 0px);
  padding: 4px !important;
  height: (@y*32px);
  width: (@x*32px);
  @media (min-width: @screen-lg-min) {
    height: (@y*48px);
    width: (@x*48px);
  }
}

.tile-offset-mixin (@count: 1) {
  @media (min-width: @screen-md-min) {
    margin-left: @count * 32px;
  }
  @media (min-width: @screen-lg-min) {
    margin-left: @count * 48px;
  }
}

.tile-region-1 {
  .tile-region-mixin(1);
}

.tile-region-4 {
  .tile-region-mixin(4);
}

.tile-region-6 {
  .tile-region-mixin(6);
}

.tile-region-7 {
  .tile-region-mixin(7);
}

.tile-region-10 {
  .tile-region-mixin(10);
}

.tile-1x1 {
  .tile-grid-mixin(1, 1);
}

.tile-1x2 {
  .tile-grid-mixin(1, 2);
}

.tile-1x4 {
  .tile-grid-mixin(1, 4);
}

.tile-1x6 {
  .tile-grid-mixin(1, 6);
}

.tile-1x8 {
  .tile-grid-mixin(1, 8);
}

.tile-4x1 {
  .tile-grid-mixin(4, 1);
}

.tile-4x2 {
  .tile-grid-mixin(4, 2);
}

.tile-4x4 {
  .tile-grid-mixin(4, 4);
}

.tile-4x8 {
  .tile-grid-mixin(4, 8);
}

.tile-6x1 {
  .tile-grid-mixin(6, 1);
}

.tile-6x2 {
  .tile-grid-mixin(6, 2);
}

.tile-6x3 {
  .tile-grid-mixin(6, 3);
}

.tile-6x4 {
  .tile-grid-mixin(6, 4);
}

.tile-6x8 {
  .tile-grid-mixin(6, 8);
}

.tile-8x1 {
  .tile-grid-mixin(8, 1);
}

.tile-8x2 {
  .tile-grid-mixin(8, 2);
}

.tile-8x4 {
  .tile-grid-mixin(8, 4);
}

.tile-8x6 {
  .tile-grid-mixin(8, 6);
}

.tile-8x8 {
  .tile-grid-mixin(8, 8);
}

.tile-9x1 {
  .tile-grid-mixin(9, 1);
}

.tile-10x1 {
  .tile-grid-mixin(10, 1);
}

.tile-10x2 {
  .tile-grid-mixin(10, 2);
}

.tile-10x6 {
  .tile-grid-mixin(10, 6);
}

.tile-10x8 {
  .tile-grid-mixin(10, 8);
}

.tile-12x1 {
  .tile-grid-mixin(12, 1);
}

.tile-12x2 {
  .tile-grid-mixin(12, 2);
}

.tile-12x4 {
  .tile-grid-mixin(12, 4);
}

.tile-12x6 {
  .tile-grid-mixin(12, 6);
}

.tile-12x8 {
  .tile-grid-mixin(12, 8);
}

.tile-12x9 {
  .tile-grid-mixin(12, 9);
}

.tile-offset-1 {
  .tile-offset-mixin(1);
}
