{{fc-admin-subheader}}

<div class = "adminWrapper">
<div class = "tile-8x2">
</div>
<div class = "tile-10x8">
  {{fc-admin-matches}} 
</div>

<div class = "tile-region-13 adminFormWrapper">
{{fc-admin-details createFlag=createFlag}}
</div>
</div>