<div id="subheader">      
  <div class = "container">
      <ul class="nav navbar-nav navbar-left">
        <p class="navbar-text navbar-left">Create: </p>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Person<b class="caret"></b></a>
          <ul class="dropdown-menu">
            {{partial "createPerson"}}
          </ul>
        </li>                
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Event<b class="caret"></b></a>
          <ul class="dropdown-menu">
            {{partial "createEvent"}}
          </ul>
        </li>         
      </ul> 
  </div>
</div>