  <div class = "form-group tile-4x1">
   {{view Ember.Select 
        disabled=inFlight
        prompt="Select Person"
        content=people
        selection=newFighter.person
        optionLabelPath="content.name"
        class = "form-control"}}
  </div>
  <div class = "form-group tile-4x1">
    {{view Ember.Select 
      disabled=inFlight
      multiple="true"
      prompt="Select a character"
      content=characters
      selection=newFighter.characters
      optionLabelPath="content.name"
      class = "form-control"}} 
  </div>
<div class = "form-group tile-1x1">
  <button class="btn btn-default" 
    {{bind-attr disabled=inFlight}}
    {{action "createFighter" newFighter}}>
    Add 
  </button>
</div>