
   {{view Ember.Select 
        disabled=inFlight
        prompt="Select Person"
        content=people
        selection=newFighter.person
        optionLabelPath="content.name"
        class = "form-control admin-form-select-half"}}

    {{view Ember.Select 
      disabled=inFlight
      multiple="true"
      prompt="Select a character"
      content=characters
      selection=newFighter.characters
      optionLabelPath="content.name"
      class = "form-control admin-form-select-half"}} 

<div class = "form-group admin-form-select-half">
  <button class="btn btn-default" 
    {{bind-attr disabled=inFlight}}
    {{action "createFighter" newFighter}}>
    Add 
  </button>
</div>