{{#each fighter in fighters}}
  <li class = "admin-fighter-select">
    <span>
    <b>{{fighter.person.name}} :</b>
    {{#each character in fighter.characters}}
      {{character.name}}
    {{/each}}
    </span>

    <button class="btn btn-danger btn-xs admin-icon-btn" 
    {{bind-attr disabled=inFlight}}
    {{action "deleteFighter" fighter}}>
    <i class="fa fa-trash-o"></i>
    </button>
  </li>
{{/each}}
