{{#each video in videos}}
  <div class = "admin-video-select">
    {{video.name}}
    {{video.url}}

    <button class="btn btn-danger btn-xs admin-icon-btn"
    {{bind-attr disabled=inFlight}}
    {{action "removeVideo" video}}>
    <i class="fa fa-trash-o"></i>
    </button> 
  </div>
{{/each}}

