.tile-match-featured {
  .tile-mixin(); 
  position: relative;
  display: block;
  transition: background-color .4s;
  &:hover {
    background-color: lighten(@tile-color-5, 15%);
  }
  .fighter-list {
    .make-row(0px);
    height: 60%;
    .vs {
      .make-xs-column(4, 0px);
      .make-sm-column(4, 0px);
      .make-md-column(4, 0px);
      .make-lg-column(4, 0px);
      height: 100%;
      text-align: center;
      span {
        display: inline-block;
        vertical-align: middle;
        color: @tile-color-2;
        font-weight: 600;
        font-size: @font-medium;
      }
    }
    .fighter {
      .make-xs-column(10, 0px);
      .make-sm-column(10, 0px);
      .make-md-column(10, 0px);
      .make-lg-column(10, 0px);
      height: 100%;
      text-align: center;
      .fighter-name {
        display: inline-block;
        min-height: @font-medium * 2;
        vertical-align: middle;
        padding-left: 10px;
        padding-right: 10px;
        font-weight: 300;
        font-size: @font-medium;  
      }
      .as {
        color: @tile-color-3;
        font-weight: 100;
        font-style: italic;
        font-size: @font-small;
      }
      .character-list {
        font-weight: 100;
        font-size: @font-smallish;  
      }
    }
  }
  .match-details {
    .make-row(0px);
    height: 40%;
    text-align: center;
    .detail {
      color: @tile-color-1;
      font-weight: 100;
    }
    .caster-list {
      span {
        font-weight: 100;
      }
    }
    .description {
      color: @tile-color-4;
      .text-overflow();
      font-weight: 100;
      font-size: @font-smallish;
    }
  }
}
