.tile-match-featured {
  .tile-mixin();
  background-color: @tile-color-2;

  .graphics {
    height: 100%;
    border: 2px solid white;
    .make-xs-column(8, 0px);
    .make-sm-column(8, 0px);
    .make-md-column(8, 0px);
    .make-lg-column(8, 0px);
  }
}
