.tile-match-featured {
  .tile-mixin(); 
  position: relative;
  display: inline-block;
  height: 100%;
  width: 100%;
  &:hover {
    text-decoration: none;
    .content {
      .fight-card {
        background-color: @background-color-dark;
      }
    }
  }

  .video {
    .size(100%, 66%);
    .embedded-video {
      .size(100%, 100%);
    }
  }

  .content {
    .bottom-left();
    .size(100%, 88px);
    .fight-card-header {
      .top-left();
      .size(100%, 32px);
    }
    .fight-card {
      .bottom-left();
      .size(100%, 42px);
      transition: all .2s;
      background-color: @background-color;
    }
  }
}
