.tile-match-listitem {
  .tile-mixin(); 

  transition: background-color .4s;
  &:hover {
    background-color: lighten(@tile-color-3, 10%);
  }
  .fighter-list {
    .make-row(0px);
    .vs {
      .make-xs-column(2, 0px);
      .make-sm-column(2, 0px);
      .make-md-column(2, 0px);
      .make-lg-column(2, 0px);
      display: inline-block;
      color: @tile-color-2;
      vertical-align: middle;
      text-align: center;
      font-weight: 600;
      font-size: @font-small;
    }
    .fighter {
      .fighter-name {
        .make-xs-column(8, 0px);
        .make-sm-column(8, 0px);
        .make-md-column(8, 0px);
        .make-lg-column(8, 0px);
        .text-overflow();
        display: inline;
        vertical-align: middle;
        padding-left: 10px;
        padding-right: 10px;
        font-weight: 200;
        font-size: @font-smallish;  
      }
      .character-list {
        .make-xs-column(3, 0px);
        .make-sm-column(3, 0px);
        .make-md-column(3, 0px);
        .make-lg-column(3, 0px);
        display: inline;
        vertical-align: middle;
        font-weight: 100;
        font-size: @font-tiny;
        font-style: italic;
      }
    }
    .fighter.first {
      text-align: right;
    }
    .fighter.second {
      text-align: left;
    }
  }
  .match-details {
    .make-row();
    .event-name {
      margin-top: -4px;
      text-align: center;
      font-style: italic;
      font-weight: 100;
      font-size: @font-small; 
    }
  }
}
