.tile-match-listitemtall {
  .tile-mixin(); 
  position: relative;
  display: block;
  &:hover {
    text-decoration: none;
    .fight-card {
      background-color: @background-color-dark;
    }
  }
  .fight-card-header {
    .top-left();
    width: 100%;
    height: 32px;
  }
  .fight-card {
    .bottom-left();
    .size(100%, 42px);
    transition: all .2s;
    background-color: @background-color;
  }
}
