.tile-match-listitem {
  .tile-mixin(); 
  position: relative;
  display: block;
  .fighter-list {
    .make-row(0px);
    height: 70%;
    .vs {
      .make-xs-column(2, 0px);
      height: 100%;
      text-align: center;
      span {
        vertical-align: middle;
        color: @tile-color-2;
        font-weight: 600;
      }
    }
    .fighter {
      .fighter-name {
        .make-xs-column(8, 0px);
        .text-overflow();
        height: 100%;
        vertical-align: middle;
        padding-left: 10px;
        padding-right: 10px;
      }
      .character-list {
        .make-xs-column(3, 0px);
        height: 100%;
        .character-name {
          text-align: center;
          vertical-align: middle;
          font-size: @font-small;
          font-style: italic;
        }
      }
    }
    .fighter.first {
      text-align: right;
    }
    .fighter.second {
      text-align: left;
    }
  }
}
