.tile .tile-tag {
  position: absolute;
  top: 0;
  right: 0;
  height: 24px;
  padding: 4px;
}

.tile .fighter-list {
  margin: 0px;
  padding: 0px;
  .fighter {
    .text-overflow();
    .fighter-name {
      font-weight: bold;
      font-size: @font-smallish;
      font-style: italic;
    }
  }
}

.tile .character-list {
  display: inline;
  font-weight: lighter;
  font-size: @font-smallish;
  font-style: normal;
  .character-name:not(:first-child) {
    &:before {
      content: "/ ";
    }
  }
}

.tile .caster-list {
  margin-left: 10%;
  font-weight: normal;
  font-size: @font-small;
  .text-overflow();
  .caster-name {
    font-weight: lighter;
    &:not(:first-child) {
      &:before {
        content: "/ ";
      }
    }
  }
}

.tile .event {
  margin-left: 10%;
  font-weight: normal;
  font-size: @font-small;
  font-style: italic;
  .text-overflow();
  .event-name {
  }
}

.tile .title-name {
  font-weight: lighter;
  font-size: @font-smallish;
  .text-overflow();
}

.tile-subheader{
  font-size: 18px;
}

