body {
  padding-top: 60px;
}

.right-column {
  background-color: gray;
}

.userSubmitted{
  background-color: #eee;
  padding: 10px;
  border-radius: 10px;
}

ul.datalist {
  list-style-type: none !important;
}


img.gameLogoSmall{
  width: 32px;
  height: 32px;
}

.adminFormWrapper{
  padding-left: 10px;
  padding-right: 10px;
  width: 300px;
}

.adminControls{
  display: inline-block;
  width: 20%;
  height: inherit;
  vertical-align: top;
}
.itemInfo{
  display: inline-block;
  width: 75%;
}

.dataItem{
  background-color: #e0e0e0;
  margin-bottom: 5px;
  border-radius: 5px;
  padding: 2px;
}