body {
  padding-top: 60px;
}

.right-column {
  background-color: gray;
}

.userSubmitted{
  background-color: #eee;
  padding: 10px;
  border-radius: 10px;
}

ul.datalist {
  list-style-type: none !important;
}


img.gameImageSmall{
  width: 32px;
  height: 32px;
}