<form role="form" method="POST" action = "/admin/people">
  <h3>Create Player</h3>
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" name="name" class="form-control" id="name" placeholder="player name">
    <label for="name">Country</label>
    <input type="text" name="country" class="form-control" id="country" placeholder="2 Letter Country Code">
  </div> 
  <button type="submit" class="btn btn-default">
    Create! 
  </button>
</form> 


