<form role="form" method="POST">
  <div class="form-group">
    <label for="person">Player</label>
     <div class="form-group">
      <label for="playerName">Name</label>
      <input type="text" name="playerName" class="form-control" id="playerName" placeholder="player name">
    </div> 

    <label for="characters">Character</label>
    <select multiple class="form-control" id="characters" name="characters">
      {{#each characters}}
        <option value={{id}}>{{name}}</option>
      {{/each}}
    </select>

  </div> 
  <button type="submit" class="btn btn-default">
    Create! 
  </button>
</form> 
