<form role="form" method="POST" action = "/admin/videos">
  <h3>Create Video</h3>
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" name="name" class="form-control" id="name" placeholder="name">

    <label for="url">Youtube ID</label>
    <input type="text" name="url" class="form-control" id="url" placeholder="youtube Id">
  </div> 
  <button type="submit" class="btn btn-default">
    Create! 
  </button>
</form> 
