<div class = "adminFormWrapper">
  <form role="form" method="POST" action = "/admin/teams">
    <h3>Create Team</h3>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" 
              name="name" 
              class="form-control" 
              id="name" 
              placeholder="team name">
    </div> 
    <button type="submit" class="btn btn-default">
      Create! 
    </button>
  </form> 
</div>