<a class="tile-match-listitem" href="/matches/{{id}}">
  <div class="fighter-list">

    {{#with fighterOne}}
      <div class="fighter first">
        <div class="fighter-name">
          {{person.name}}
        </div> 
        <div class="character-list">
          <span class="character-name">Frybot</span>
        </div>
      </div> 
    {{/with}}
    
    <div class="vs">
      VS
    </div>

    {{#with fighterTwo}}
      <div class="fighter second">
        <div class="fighter-name">
          {{person.name}}
        </div> 
        <div class="character-list">
          <span class="character-name">Tonto</span>
        </div>
      </div> 
    {{/with}}
    
  </div>
</a>
