<div class="row">
  <div class="tile-10x6">
    <div class="tile-match-main">
      <iframe class="embedded-video"
        iv_load_policy=3
        src={{ytUrl videos}}&color=white
        frameborder="0" 
        rel=0
        modestbranding
        allowfullscreen>
      </iframe>
    </div>
  </div>
</div>

<div class="row">
  <div class="tile-10x2">
    <div class="tile-match-main-details">
      <div class="row">
        <span class="event-name">{{event.name}}</span>
        <span class="subevent-name"> (Round of 8)</span>
      </div>
      <div class="row">
        <span class="caster-info">cast by</span>
        <span class="caster-list">
          {{#each casters}}
            {{name}}
          {{/each}}
        </span> 
      </div>
    </div>
  </div>
</div>
