<a class="tile-match-featured" href="/matches/{{id}}">
  <div class="video">
    <iframe class="embedded-video"
      autohide=1
      controls=0
      iv_load_policy=3
      show=0
      modestbranding=1
      allowfullscreen
      src={{ytUrl videos}}&color=white
      frameborder=0
      rel=0>
    </iframe>
  </div>
  <div class="content">
    {{> fightcard-header}}
    {{> fightcard}}
  </div>
</a>
